*{
    margin: 0;
    padding: 0;
}
body{
    /*background-image: url(pic/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;*/
    font-family: Pinar-FD, pinar;
    }

.main{
   /* background: linear-gradient(135deg, #2f5cbc 0%,#103b97 30%,#0c307c 65%,#052155 100%);*/
   background-color: #000758;
   height: 100%;
   min-height: 100dvh;
   min-height: 100vh;
   padding: 50px;
}
.div1{
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1 img{
    float: left;
    width: 30px;
    height: 70px;
    direction: ltr;
}
h1{
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    direction: ltr;
    font-size: 23px;
    color: #ffffff;
}
.kifepol{
    margin-left: 740px;
    padding: 20px;
    padding-top: 30px;
    border-radius: 20px;
    background: radial-gradient(circle at top right, #00205c, #012876);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
    border:1px #1f5db8 solid;
    width: 220px;
    height:70px;
    color: white;
}
.kifepol h2{
    padding-left: 50px;
    text-align: right;
    font-weight :700;
    font-size: 20px;
    color: #ffffff;
}
.kifepol p{
    padding-right: 0;
    padding-top: 5px  ;
    direction: rtl;
    font-size: 16px;
}

.kifepol img{
    padding-top: 10px;
    float: left;
    width: 50px;
    height: 50px;
    direction: ltr;
}
.div2{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard{
    padding: 20px;
    border-radius: 20px;
   /* background: radial-gradient(circle at top right, #0c3175, #102d67);*/
    background: radial-gradient(circle at top right, #00205c, #012876);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
    border:1px #ffffff45 solid;
    width: 220px;
    height:350px;
    color: white;
}
.leaderboard img{
    padding-right: 20px;
    padding-top: 10px;
    float: left;
    width: 50px;
    height: 50px;
    direction: ltr;
}
.leaderboard h2{
    padding-bottom: 15px;
    padding-top: 10px;
    padding-top: 15px;
    text-align: center;
    font-weight:900;
    font-size: 20px;
    color: #ffffff;
}
.leaderboard p{
    float: left;
    padding-top: 5px;
    padding-left:20px;
    padding-bottom: 10px;
    text-align: center;
    font-weight:200;
    font-size: 18px;
}
.matches{
    margin-right: 100px;
    padding: 15px;
    border-radius: 20px;
    background: radial-gradient(circle at top right, #00205c, #012876);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
    border:1px #ffffff40 solid;
    text-align: center;
    width: 400px;
    height:350px;
    color: white;
}
.header-maches h2{
    display: inline-block;
    padding-bottom: 10px;
    text-align: center;
    font-weight:900;
    font-size: 22px;
    color: #ffffff;
}

.header-maches p{
    margin: 12px;
    padding-top: 5px;
    padding-bottom: 3px;
    display: inline-block;
    font-size: 15px;
    width:150px;
    height:20px;
    line-height:20px;
    color: #081c48;
    text-align: center;
    background-color: #869dcf;
    border-radius: 20px;
}

.match-card {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.1); /* حالت شیشه‌ای */
  border-radius: 12px;
  margin: 10px 0;
}

.team {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 8px; 
  flex: 1;
}

.team img {
  width: 50px;
  height: 40px;
  border-radius: 4px;
}

.match-info {
  text-align: center;
  font-size: 15PX;
  color: white;
}
.more{
    margin: 12px;
    padding-top: 5px;
    padding-bottom: 3px;
    display: inline-block;
    font-size: 15px;
    line-height:20px;
    color: #237cdd;
    text-align: center;
    border-radius: 20px;
}
.prediction{
    margin-right: 100px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 20px;
    background: radial-gradient(circle at top right, #0c3175, #102d67);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
    border:1px #ffffff40 solid;
    text-align: center;
    width: 400px;
    height:350px;
    color: white;
}
.header-prediction{
    margin-bottom: 10px;
}
.mach-box{
    background: rgba(255, 255, 255, 0.1); /* حالت شیشه‌ای */
    border-radius: 10px;
}
.teams-row{
    padding: 10px;
    margin-top: 10px;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.score{
    direction: ltr;
    font-size: 40px;
    unicode-bidi: embed;
}
.button{
    width: 400px;
    height: 50px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 30;
    padding-right: 30px;
    padding-left: 30px;
    background: linear-gradient(180deg, #005eff 0%, #004aca 18%, #0056d6 50%,#005eff 100%);
    border-radius: 10px;
    border: none;
}
.button p{
    font-family: Pinar-FD,pinar;
    font-weight: 400;
    font-size: 20px;
    color:white;
}